<h1>Upload Excel File</h1>
<form method="post" action="/upload" enctype="multipart/form-data">
    <label>Excel File</label>
    <input type="file" name="fileUpload">    
    <br>
    <br>
    <input type="submit" value="Submit">
</form>
